#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
}
.habit-card {
  border: 1px solid gray";
  background-color #1d4ed8;
  color: white;
  border-radius: 10px;
  list-style: none;
  width: 400px;
  height: 200px;
  text-align: center;
}